:root {
  --h1-font-color: #fff;
  --font-color1: #202020;
  --font-color2: #fff;
  --background-color1: #202020;
  --accent-font-color: #AAFF00;
  --accent-font-color2: #ff7f7f;
}

body {
  overflow-X: hidden;
  margin: 0 auto;
  padding: 0;
  scroll-behavior: smooth;
}

#navbar {
  background-color: var(--background-color1);
  top: 0;
  position: fixed;
  width: 100vw;
  height: 100px;
  left: 0;
  display: flex;
  justify-content: flex-end;
}

.nav-logo {
  font-family: 'Poppins', sans-serif;
  margin-top: 14px;
  font-size: 55px;
  letter-spacing: -0.48rem;
  color: var(--font-color2);
  margin-right: 23%;
}

.nav-list {
  display: flex;
  list-style: none;
  margin-top: 33px;
}

.nav-list a {
  text-decoration: none;
  color: var(--accent-font-color);
  font-family: 'Poppins', sans-serif;
  margin-right: 60px;
  font-size: 20px;
}

.nav-list a:hover {
  transition: all .6s ease;
  -webkit-transition: all .6s ease;
  color: var(--accent-font-color2);
}

.top-h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 60px;
  color: var(--h1-font-color);
  padding-top: 333px;
}

.top-p {
  font-family: 'Poppins', sans-serif;
  color: var(--accent-font-color);
  font-size: 24px;
  font-style: italic;
  margin-top: -52px;
}

#welcome-section {
  background: var(--background-color1);
  height: 100vh;
  width: 100vw;
  text-align: center;
}

.projects-section {
  background: var(--accent-font-color);
  height: 100vh;
  width: 100vw;
  margin-top: -50px;
}

.project-h1 {
  font-family: 'Raleway', sans-serif;
  color: var(--background-color1);
  font-size: 44px;
  text-align: center;
  padding-top: 120px;
}

.project-hr {
  width: 28vw;
  height: 0.3rem;
  background-color: var(--background-color1);
  border: none;
  margin-top: -22px;
}

.project-hr2 {
  width: 18vw;
  height: 0.3rem;
  background-color: var(--background-color1);
  border: none;
  margin-top: 12px;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 2fr));
  grid-gap: 2rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-top: 100px;
}

.project {
  border-radius: 1rem;
  height: 500px;
  width: 500px;
}

.project-image {
  height: calc(100% - 12rem);
  width: 100%;
  object-fit: cover;
  border-radius: 1rem;
  box-shadow: 1px 1px 2px var(--font-color1);
}

.project-title {
  font-family: 'Raleway', sans-serif;
  font-size: 2rem;
  text-align: center;
  color: var(--font-color1);
  margin-top: 0;
}

.project-tile {
  text-decoration: none;
}

.profile-h1 {
  color: var(--font-color2);
  font-family: 'Raleway', sans-serif;
  font-size: 60px;
  padding-top: 100px;
  padding-bottom: 50px;
  text-align: center;
}


#socials {
   background-color: var(--background-color1);
  height: 70vh;
  width: 100vw;
  margin-top: -50px;
}
.soc-icons {
  display: flex;
  justify-content: center;
}

.soc-icons i {
  font-size: 60px;
  color: var(--font-color2);
  padding: 10px;
}

.soc-icons i:hover {
  color: var(--accent-font-color);
  transition: all .6s ease;
  -webkit-transition: all .6s ease
}

.portfolio-link {
  color: var(--font-color2);
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
}

.portfolio-link:hover {
  color: var(--accent-font-color);
  font-size: 42px;
  transition: all .6s ease;
  -webkit-transition: all .6s ease;
}

.p-div {
  text-align: center;
  padding-top: 20px;
}


@media (max-width: 780px) {

}